
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits            {:git/url "https://github.com/bithandshake/cljc-fruits"
                                              :sha     "dd0335ef3e68416663a2f377e88ca92a3d7718fb"}
         bithandshake/cljc-io                {:git/url "https://github.com/bithandshake/cljc-io"
                                              :sha     "5b0e0e06978e75adff7ada7bf76d81f6eba4846c"}
         mt-devtools/cljc-syntax-interpreter {:git/url "https://github.com/mt-devtools/cljc-syntax-interpreter"
                                              :sha     "d0d0efe5942111e2c5fe6ab1719d85f220e3b242"}
         org.clojure/clojure                 {:mvn/version "1.10.1"}}}
