
{:paths ["source-code/clj"]
 :deps  {bithandshake/cljc-fruits            {:git/url "https://github.com/bithandshake/cljc-fruits"
                                              :sha     "541c7e4ac7604f8c6afe5715f757206bb4b5f157"}
         bithandshake/cljc-io                {:git/url "https://github.com/bithandshake/cljc-io"
                                              :sha     "c887357335fd4f1b4df9ee195fc1e814d81437f7"}
         mt-devtools/cljc-syntax-interpreter {:git/url "https://github.com/mt-devtools/cljc-syntax-interpreter"
                                              :sha     "e498dc5e0801591ee73ede9212398282b286269c"}
         org.clojure/clojure                 {:mvn/version "1.10.1"}}}
