
{:paths ["source-code/clj"]
 :deps  {mt-devtools/cljc-syntax-interpreter {:git/url "https://github.com/mt-devtools/cljc-syntax-interpreter"
                                              :sha     "19a34dadbca47c06c1612ccb62f1ffe2dbd91383"}
         bithandshake/cljc-fruits            {:git/url "https://github.com/bithandshake/cljc-fruits"
                                              :sha     "b1da55fed415edb4febdb44a27ed6ed5d62daca5"}
         mt-utilities/cljc-io                {:git/url "https://github.com/mt-utilities/cljc-io"
                                              :sha     "2197c4b7d776b3718ec25571b8a8d44014eda2b8"}
         org.clojure/clojure                 {:mvn/version "1.10.1"}}}
